[build]
  functions = "netlify/functions"

[dev]
  publish = "."

[[redirects]]
  from = "/api/ghcg/fetch-data"
  to = "/.netlify/functions/fetch-data"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
